.review-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-left: 15px;
}

.review-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px;
}