.filter-select-container{
    flex: 1;
    

    .movies-genres-select__single-value{
        color: #E1E1E1;
    }

    .movies-genres-select__indicator{
        color: #E1E1E1;
        
        &:active{
            border: none;           
            color: #E1E1E1;
        }
        &:hover{
            border: none;           
            color: #E1E1E1;
        }
        &:focus{
            border: none;           
            color: #E1E1E1;
        }
        &:focus-within{
            border: none;           
           color: #E1E1E1;
        }
    }


    .movies-genres-select__control{
        border: none;
        border: 1px solid #E1E1E1;    
        border-radius: 10px;
        height: 50px;
        background-color: #6C6C6C;       
        
        &:active{
            border: none;
            border: 1px solid #E1E1E1;  
            box-shadow: none;
            background-color: #6C6C6C;
        }

        &:focus{
            border: none;
            border: 1px solid #E1E1E1;  
            box-shadow: none;
            background-color: #6C6C6C;
        }
        &:focus-within{
            border: none;
            border: 1px solid #E1E1E1;  
            box-shadow: none;
            background-color: #6C6C6C;
        }

        &:hover{
            border: none;
            border: 1px solid #E1E1E1;  
            box-shadow: none;
            background-color: #6C6C6C !important;
        }
              
    }  
    .movies-genres-select__menu{
        background-color: #6C6C6C;   
        
        .movies-genres-select__option--is-selected{
            color: #6C6C6C;
            background-color: #FFC700;
        }

        .movies-genres-select__option--is-focused{
            color: #000000;
            background-color: #ffe68b;
        }

    }

    .movies-genres-select__indicator-separator{
        display: none;
    }
    
    .movies-genres-select__placeholder{
        color: #FFFFFF !important;
    }

}
